<table class="table" id="table-requirements-<%= @project.id %>">
	<thead>
		<tr>
			<% fields = project.fields.limit(3).map {|f| f.field_name }%>
			<% fields.each do |field| %>
				<th><%= field.humanize %></th>
			<% end %>
			<th>
				Options
			</th>
		</tr>
	</thead>
	<tbody>
		
		<% requirements.each do |requirement|%>
			<tr>
				<% fields.each do |field| %>
					<td><%= requirement.send(field)  %></td>
				<% end %>
				<td>
					<%= link_to "Show", project_requirement_path(project,requirement)  %> |
					<%= link_to "Edit", edit_project_requirement_path(project, requirement) %> | 
					<%= link_to "Remove", project_requirement_path(project, requirement), method: :delete, data: {confirm: "Are you sure?"} %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>