<div class="col-md-12">
	<h2>Requirement Detail <small> for <%= @project.title %></small></h2>
	<% @requirement.requirement_attributes.each do |requirement_attribute| %>
		<div class="row">
			<div class="row">
				<div class="col-md-4">
					<strong><%= requirement_attribute.requirement_field.name %>:</strong>
				</div>
				<div class="col-md-8">
					<%= requirement_attribute.value %>
				</div>
			</div>
		</div>
	<% end %>
	<div class="row">
		<h2>Changes</h2>
		<% if @requirement.versions.empty? && @requirement.associated_versions.empty? %>
			<p class="text-centered">No changes in this requirement yet.</p>
		<% else %>
		<ul class="list-group">
			
			<% @requirement.requirement_attributes.each do |attribute| %>
			<li class="list-group-item">
				<h5><%= attribute.name %></h5>
					<% unless attribute.versions.blank? %>
						<% changes = attribute.versions.group_by { |post| post.created_at.strftime("%B") } %>
						<% changes.each do |key,version|  %>
							<h6><%= key %></h6>
							<% unless version.empty? %>
								<% version.each do |change| %>
									<div class="row">
										<div class="col-md-12">
											<span class="label label-info">
												<%= change.changeset[:updated_at].last.day %> at <%= change.changeset[:updated_at].last.strftime("%I:%M%p") %>
											</span><span class="label label-default"><%= change.whodunnit %></span>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">										
											<%= raw Diff.differ(change.changeset[:value]) %>									
										</div>
									</div>
								<% end %>
							<% end %>
						<% end %>
					<% else %>
						<p class="text-centered">No changes in this attribute yet.</p>
					<% end %>
				</li>
			<% end %>
			</ul>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<%= link_to "Go Back", project_path(@project), class: "btn btn-primary pull-right" %>
	</div>
</div>