<div class="row">
	<div class="page-header">
		<h1><%= @project.title %></h1><small><%= link_to "Export all requirements to PDF", export_pdf_project_requirements_path(@project) %></small>
	</div>
</div>
<div class="row">
	<div class="page-header">
		<h3>Requirement List <small><%= link_to "New Requirement", new_project_requirement_path(@project) %></small></h3>
	</div>
	<% if @requirements.empty? %>
		<p class="text-center">
			You don't have any requirement yet. <%= link_to "Create one", new_project_requirement_path(@project) %>
		</p>
	<% else %>
		<%= render "requirement_list", requirements:@requirements %>
	<% end %>
</div>
<div class="row">
	<div clas="page-header">
		<h3>Requirement Attributes List <small><%= link_to "New Requirement Attribute", new_project_requirement_field_path(@project) %></small></h3>
	</div>
	<% if @fields.empty? %>
		<p class="text-center">
			You don't have any requirement attribute yet. <%= link_to "Create one", new_project_requirement_field_path(@project) %>
		</p>
	<% else %>
		<%= render "requirement_fields_list", fields: @fields %>
	<% end %>
</div>