<div class="col-md-12">
	<h2>Edit Field <small>for <%= @project.title %></small></h2>
	<%= simple_form_for [@project,@requirement_attribute], html:{class:"form-inline"} do |f| %>
		<div class="col-md-12">
			<%= render "form", f:f %>
			<div class="form-actions">
				<%= f.button :submit, "Create Field", class:"btn btn-primary" %>
				<%= link_to "Cancel", :back, class:"btn" %>
			</div>
		</div>
	<% end %>
</div>